In [1]:
# Import dependencies
from pprint import pprint
import pandas as pd

In [2]:
# Begin by importing each csv file into a pandas database
stations_df = pd.read_csv('hawaii_stations.csv')
measurements_df = pd.read_csv('hawaii_measurements.csv')

In [14]:
# Use the count method to show NaN values
measurements_df.count()
#stations_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [20]:
# Because only the precipitation field has any NaN's, we will replace those with 0's
cleaned_measurements = measurements_df.fillna(0,axis=1,inplace=False)
cleaned_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [23]:
# We will now write the files back to cleaned csv's
cleaned_measurements.to_csv('cleaned_hawaii_measurements.csv',header=True,index=False)
stations_df.to_csv('cleaned_hawaii_stations.csv',header=True,index=False)